/*footer*/
footer{
    width: 1180px;
    margin: 0 auto;
}
.footerWrap{
    background: #fdf2ec;
    padding-bottom: 95px;
}
.ftBanner{
    height: 66px;
    background: url("../img/footer_lnks.jpg") no-repeat;
    border-bottom: 1px solid white;
}
.ftBanner a{
    float: left;
    width: 196px;
    height: 66px;
}
.ftService{
    padding-top: 30px;
}
.LogoUl{
    padding-left: 30px;
    padding-right: 20px;
}
.ftService .ftUls{
    float: left;
    width: 144px;
    line-height: 20px;
    font-size: 12px;
}
.ftUls a{
    color: #999999;
}
.ftUls li:hover a{
    color: pink;
}
.ftUls li:first-child{
    padding-bottom: 8px;
}
.code{
    float: right;
}
.ftConsult{
    padding:21px 0;
}
.ftConsult a{
    display: block;
    width: 488px;
    height: 60px;
    margin: 0 auto;
    background: url("../img/fot_consult.jpg") no-repeat;
}
.ftAlink{
    text-align: center;
    font-size: 12px;
    color: #999999;
}
.ftAlink a{
    padding: 0 5px;
    color: #999999;
}
.footerWrap .scrollBox{
    position: relative;
    height: 24px;
    overflow: hidden;
}
.scrollBox{
    position: absolute;

    margin-bottom: 20px;
}
.scrollAlink{
    position: absolute;
    left: 124px;
    top: 0px;
}
.ftAlink p{
    padding: 5px 0px;
}

.ftImg{
    width: 980px;
    margin: 0 auto;
    margin-top: 22px;
    text-align: center;
}
.ftImg img{
    width: 110px;
    height: 35px;
}


/*固定区域*/
.fixBox{
    width: 67px;
    height: 340px;
    position: fixed;
    right: 0;
    bottom: 183px;
}
.gz{
    position: fixed;
    right: 67px;
    bottom: 69px;
    display: none;
}
/*公共部分结束*/

/*登录栏*/
.loginWrap{
    background: url("../img/auth_bg_new.jpg") no-repeat -290px 0;
    padding-right: 100px;
}
.login{
    width: 1180px;
    height: 600px;
    margin: 0 auto;
}
.loginBox{
    width: 366px;
    height: 400px;
    float: right;
    margin-top: 80px;
}
.loginTitle{
    font-size: 20px;
    margin-bottom: 8px;
    float: left;
}
.reg{
    float: right;
    padding-top: 5px;
}
.loginForm{
    clear: both;
    height: 250px;
    background: url("../img/auth_main_login.jpg") no-repeat 0px 0px;
}
.loginInput{
    padding-top: 38px;
}
#userName,#userPass{
    font-size: 12px;
    color: #999;
}
.loginInput input{
    display: block;
    border: none;
    outline: none;
    margin: 0 auto 22px;
    width: 283px;
    height: 36px;
    padding-left: 15px;
}
.autoInput{
    width: 14px;
    height: 12px;
    margin-left: 33px;
    vertical-align: middle;
    border: none;
    outline: none;
    background: url("../img/login_phase.jpg") no-repeat 2px 0;
}
.autoLogin a{
    float: right;
    margin-right: 35px;
}
.submit input{
    display: block;
    width: 298px;
    height: 34px;
    margin: 15px auto 40px;
    border: none;
    outline: none;
    background: #ff8a81;
}
.submit input:hover{
    cursor: pointer;
}
.partners{
    height: 116px;
    background: url("../img/auth_main_login.jpg") no-repeat -1px -256px;
}
.btns{
    float: left;
    width: 46px;
    height: 46px;
    margin-top:38px;
    margin-left: 37px;
}
.partners div:first-child{
    background: url("../img/qq-btn.jpg") no-repeat -47px 0px;
}
.partners div:nth-child(2){
    background: url("../img/weixin-btn.jpg") no-repeat -47px 0px;
}
.partners div:nth-child(3){
    background: url("../img/sina-btn.jpg") no-repeat -47px 0px;
}
.partners div:nth-child(4){
    background: url("../img/zhifubao-btn.jpg") no-repeat -47px 0px;
}
.partners a{
    display: block;
    width: 100%;
    height: 100%;
}

