@charset "utf-8";

/*登录栏*/
.regWrap{
  width: 100%;
  background: url("../img/auth_bg_new.jpg") no-repeat -290px 0;
  //height: 550px;
}
.login{
  float: right;
  height: 550px;
  margin-right: 100px;
  font-size: 12px;
}
.box{
  width: 366px;
  float: right;
  margin-top: 50px;
}
.loginBox{
  width: 366px;
  height: 369px;
  font-size: 12px;
  background: #fcede9;
  padding-bottom: 10px;
}
.loginTitle{
  font-size: 20px;
  margin-bottom: 8px;
  float: left;
}
.reg{
  float: right;
  font-size: 12px;
  padding-top: 5px;
}
.reg span{
  color: #ff8a81;
}
.loginForm{
  clear: both;
  height: 250px;
}
.loginInput{
  padding-top: 38px;
  height: 228px;
}
#userphone,#checkCode,.userPassUp,.confirmPass{
  font-size: 12px;
  color: #999;
}
.loginInput input{
  display: block;
  border: none;
  outline: none;
  margin: 0 auto;
  width: 283px;
  height: 36px;
  padding-left: 15px;
}
.loginBox span{
  display: block;
  width: 152px;
  height: 24px;
  line-height: 24px;
  margin-left: 34px;
  color: indianred;
}
.loginBox .regTip{
  width: 299px;
}
.checkCodeBox span{
  float: left;
}
.loginBox .timeTip{
  margin-left: 16px;
}
.checkCodeBox input:first-child{
  float: left;
  width: 126px;
  height: 20px;
  margin-left: 34px;
  padding: 6px 1px 6px 10px;
}
.checkCodeBox input:nth-child(2){
  float: right;
  width: 148px;
  height: 32px;
  padding: 0;
  margin-right: 34px;
  background: #feaca0;
  color: #fff;
}
.checkCodeBox input:nth-child(2):hover{
  cursor: pointer;

}
#getCode{
  width: 146px;
  height: 32px;
  padding: 0;
  margin-right: 34px;
}
.userPassBox{
  position: relative;
}
.userPassUp{
  position: absolute;
  left: 34px;
  top: 0px;
}
.autoInput{
  width: 14px;
  height: 12px;
  margin-left: 33px;
  vertical-align: middle;
  border: none;
  outline: none;
  background: url("../img/login_phase.jpg") no-repeat 2px 0;
}
.autoLogin{
  margin-top: 18px;
}
.autoLogin a{
  color: #505050!important;
  text-decoration: underline;
}
.submit input{
  display: block;
  width: 298px;
  height: 34px;
  margin: 15px auto 0px;
  border: none;
  outline: none;
  background: #ff8a81;
}
.submit input:hover{
  cursor: pointer;
}
.partners{
  height: 116px;
  background: url("../img/auth_main_login.jpg") no-repeat -1px -256px;
}
.btns{
  float: left;
  width: 46px;
  height: 46px;
  margin-top:38px;
  margin-left: 37px;
}
.partners div:first-child{
  background: url("../img/qq-btn.jpg") no-repeat -47px 0px;
}
.partners div:nth-child(2){
  background: url("../img/weixin-btn.jpg") no-repeat -47px 0px;
}
.partners div:nth-child(3){
  background: url("../img/sina-btn.jpg") no-repeat -47px 0px;
}
.partners div:nth-child(4){
  background: url("../img/zhifubao-btn.jpg") no-repeat -47px 0px;
}
.partners a{
  display: block;
  width: 100%;
  height: 100%;
}

.regHidden{
  width: 1180px;
  margin: 0 auto;
  clear: both;
  .head{
    h3{
      font-size: 28px;
      font-weight: 100;
      float: left;
      vertical-align: bottom;
    }
    div{
      float: right;
      margin-top: 18px;
      a{
        padding-left: 23px;
        color: #7a7a7a;
      }
    }
  }
  .show{
    width: 736px;
    height: 460px;
    text-align: center;
    margin: 0 auto;
    show_tips{
      font-size: 30px;
      line-height: 46px;
    }
    div:nth-child(2){
      padding: 46px 0 46px;
    }
    a:nth-child(3){
      display: block;
      margin: 0 auto;
      width: 427px;
      height: 53px;
      line-height: 53px;
      background: #ff8a81;
      color: #fff;
    }
  }
}

